h2 {
  text-align: center;
  align-items: center;
  color: #2D1CC6;
}

.container {

  

  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;


}

.btnSend{
  width: 335px;
  height: 56px;
  background: #2D1CC6;
  border-radius: 16px;
  border: none;
 color: #fff;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-sizing: border-box;
}

.data1{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-sizing: border-box;
}

 #subject{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-sizing: border-box;
 }


